{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - password change{% endblock %}

{% block body %}
    {% if app.flashes('error') is defined %}
        <div>
            {% for flash in app.flashes('error') %}    
                {% if flash != 'This field is missing.' %}
                    {{ flash }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="col-md-6 offset-md-3">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.Password) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
