{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - {{ book.getTitle }}{% endblock %}

{% block body %}
    <div>
        <a href="{{ referer }}">Back</a><br>
    </div>

    <div id="show-loan-info" class="p-1 m-2">
        {% if not app.user %}
            <span>Only registered users can borrow books</span>
        {% elseif not app.user.isVerified %}
            <span>Only verified users can borrow books</span>
        {% elseif book.getLoan == 1 or book.getLoan == 2 %}
            <span>the book was borrowed until {{ book.getReturnDate.format('m-d-Y') }}</span>
        {% else %}
            <a href="{{ path('loan', {'slug': book.getId}) }}">Loan</a>
        {% endif %}
    </div>

    <div id="book-description" class="row">
        <div class="col-sm-4">
            <img src="{{ asset(book.getCover) }}" alt="cover" id="cover" class="img-fluid">
        </div>

        <div class="col-sm-8">
        <div>
            <b>Title:</b> {{ book.getTitle }}<br>
            <b>Authors:</b> {{ book.getAuthor }}<br>
            {% if book.getGenre %}
                <b>Genre:</b><br>
                {% for genre in book.getGenre %}
                    {{ genre }}
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {% if book.getSubject %}
                <b>Subject:</b><br>
                {% for subject in book.getSubject %}
                    {{ subject }}<br>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {% if book.getISBN %}
                <b>ISBN:</b> {{ book.getISBN }}
            {% endif %}
        </div>
        </div>
    </div>
    </div>
{% endblock %}
